{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div id="landing" class="page page-landing background-image">
<div class="transparent">
<div class="header">
  <h1 class="landing">DevFest 2016</h1>
</div>
{{!-- popup --}}
  <div style="display: none" class="popup-content">
    <i style="float: right; padding: .5em; color: white" onclick="hidePopup()" class="fa fa-times fa-2x"></i>
    <iframe id="playerid" width="100%" height="100%" src="https://www.youtube.com/embed/CVeK0cK0B_I?rel=0&amp;controls=0&amp;showinfo=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>

<div class="content">
<div id="top" class="page content-landing">
<div class="grid-container">
        <div id="welcome-intro" class="row">
            <div class="col-3"><p>
              <div class="welcome-text">
                <h1>Registration<br>Coming Soon </h1>
                <br><br>

                {{!-- Sign Up Form --}}
                <form action="//devfe.us12.list-manage.com/subscribe/post?u=4728f3ea171ba6ddb55862e63&amp;id=205c98523d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>

                <a href="javascript:void(0)" class="button moreinfo" id="moreinfo" >More Info</a>
                <a href="javascript:void(0)">
                <form action="//devfe.us12.list-manage.com/subscribe/post?u=4728f3ea171ba6ddb55862e63&amp;id=205c98523d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <input style="display: none" name="EMAIL" type="email" id="mce-EMAIL" class="input" placeholder="Your Email Here"></input>
                </a>
                <a id="signup" onclick="showEmail()" href="javascript:void(0)" class="button signup">SignUp</a>
                <a id="submit" style="display: none;" onclick="submitEmail()" href="javascript:void(0)" class="button submit">Submit</a></form>
                <a style="display:none;" href="javascript:void(0)" id="success" class="success">Success!</a></p>
              </div>
            </div>


            <div class="hide-mobile col-3">
              <p><div class="hype">
              <a href="javascript:void(0)" onclick="showPopup()" class="hide-mobile hype-text button" id="moreinfo">Watch DevFest 2015 Recap</a>
              </p>
            </div>
        </div>
        {{!-- <div class="row next-pg"><div class="showcase-center next-pg col-6"> --}}
        {{!-- </div></div> --}}
</div>
</div>

</div>


</div>

</div>
{{#each pages }}
{{#if @first}}

<section id="info" class="page page-landing-{{@index}}">
<div class="nav">
      <div class="nav-options">
        <ol class="nav-list">
          <ol style="float:left;list-style-type:none;" class="left-nav">
            <li><a id="main" class="register nav-logo" href="javascript:void(0)" data-mode="2">
              <img class="logo" src="/img/devfest-logo.png">
            </a></li>
          </ol>
          <li class="mobile-only" id="menu"><a onclick="showNav()" class="register nav-button"><i class="fa fa-bars"></i></a></li>
          <li class="hide-mobile unhide-nav mobile-only"><a onclick="hideNav()" id="exit" class="register nav-button"><i class="fa fa-times"></i></a></li>
          <li class="hide-mobile unhide-nav"><a id="nav_sign" class="register nav-button typeform-share hide-mobile unhide-nav" href="javascript:void(0)" data-mode="2">sign up today</a></li>
          <li class="hide-mobile unhide-nav">
            <a id="prizes-link" href="#prizes" class="scroll nav-button">prizes</a>
          </li>

          <li class="hide-mobile unhide-nav">
            <a id="judges-link" href="#judges" class="scroll nav-button">judges</a>
          </li>

          <li class="hide-mobile unhide-nav">
            <a id="sponsors-link" href="#sponsors" class="scroll nav-button">
              sponsors
            </a>
          </li>
          <li class="hide-mobile unhide-nav">
            <a id="schedule-link" href="#schedule" class="scroll nav-button">
              schedule
            </a>
          </li>

          <li class="hide-mobile unhide-nav">
            <a id="info-link" href="#info" class="scroll nav-button">
              info
            </a>
          </li>
          </ol>
      </div>
    </div>

  <div class="content">
    <div class="grid-container">
      <div class="row hideme">
        <div class="col-6 infodev">
          <p>If you've ever wanted to build an app, now's the time to learn.</p>
          <p>DevFest is Columbia's week-long workshop series and hackathon. DevFest is about learning, community, and building amazing things with technology.</p>
        </div>
    </div>
  </div>
  <img id="globe" class="hide-mobile half-globe" src="/img/bw-globe.svg">
  <img id="airplane" class="hide-mobile plane" src="/img/plane.png">

</section>
{{/if}}
{{/each}}

    <section id="schedule" class="page-2 page-landing-1">
      <div class="content">
        <div class="grid-container">
          <div class="row hideme">
            <div class="showcase col-2">
              <h1>Saturday</h1><br>Jan 30
            </div>
            <div class="showcase-schedule col-4">
              {{#each day-1}}
              {{this.title}} <br> {{this.time}} - {{this.location}}
              <p>info info lorem ipsum
              info info lorem ipsum
              info info lorem ipsum
              info info lorem ipsum
              info info lorem ipsum</p>
              {{/each}}
            </div>
          </div> <!-- row -->

          <div class="row hideme">
            <div class="showcase col-2">
              <h1>Monday</h1><br>Feb 1
            </div>
            <div style="text-align:left" class="showcase-schedule col-4">
              {{#each day-2}}
              {{this.title}} <br> {{this.time}} - {{this.location}}
              <p>info info lorem ipsum
              info info lorem ipsum
              info info lorem ipsum
              info info lorem ipsum
              info info lorem ipsum</p>
              {{/each}}
            </div>
          </div> <!-- row -->


      </div> <!-- container -->
    </div>  <!-- content -->
</section>

<div id="sponsors" class="page page-landing-2">
  <div class="content">
    <div class="grid-container"> hi test </div>
  </div>
</div>

<div id="judges" class="page page-landing-3">
  <div class="content">
    <div class="grid-container"> judges test </div>
  </div>
</div>


<div id="prizes" class="page page-landing-4">
  <div class="content">
    <div class="grid-container">  hi test </div>
  </div>
</div>

{{/content}}
{{/extend}}

{{!-- <div class="border-left"></div>
<div class="border-right"></div>
<div class="border-right-2 hide-mobile"></div>
<div class="border-u"></div> --}}
