{{#extend "base"}}
{{#content "main" mode="prepend"}}

<section id="top" class="page page-landing">
  <div class="content">
    <div class="grid-container">
      <div class="row">
        <div class="land-row col-5">
          <h1 class="intro-land-1">
            7 days, 6 tracks, 1 hackathon.<br>
            Everything you won't learn in class.<br>
            DevFest 2016 at Columbia University.
          </h1>
          <div class="row intro-row">
            <a id="success" data-mode="1" target="_blank" href="https://adicu.typeform.com/to/i3TyKY" style="" class="scroll typeform-share">
              <div class="register_button col-3 showcase-center">
                {{!-- <a id="signup" onclick="showEmail()" href="javascript:void(0)" class="button signup">SignUp</a></div>
                <br>
                <input style="display: none" name="EMAIL" type="email" id="mce-EMAIL" class="input" placeholder="Your Email Here">
                <a id="submit" style="display: none;" onclick="submitEmail()" href="javascript:void(0)" class="button submit">Submit</a> --}}
                Register Now <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

              </div>
            </a>

          </div>
          <div class="row"><p class="date">Take off January 30th - February 6th, 2016</p></div>



          <div class="more row">
            <div class="col-6 next_page">
              <a class="scroll more" href="#schedule">
                <p class="showcase-center">Learn More</p><br>
                <p  class="showcase-center"><i class="fa fa-angle-down fa-2x"></i></p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  <img id="globe" class="half-globe hide-mobile" src="/img/bw-globe.svg">
  <img style="display: none" id="airplane" class="plane hide-mobile" src="/img/plane.png">
</section>


<!-------------------------- SCHEDULE ------------------------------>

<section id="schedule" class="page-2 page-landing-2">
  <div class="nav">
    <div class="nav-options">
      <ol class="nav-list">
        <ol style="float:left;list-style-type:none;" class="left-nav">
          <li><a id="main" class="register nav-logo scroll" href="#top" data-mode="2">
            <img class="logo" src="/img/devfest-logo.png">
          </a></li>
        </ol>
        <li class="mobile-only" id="menu"><a onclick="showNav()" class="register nav-button"><i class="fa fa-bars"></i></a></li>
        <li class="hide-mobile unhide-nav mobile-only"><a onclick="hideNav()" id="exit" class="register nav-button"><i class="fa fa-times"></i></a></li>
        {{!-- <li class="hide-mobile unhide-nav"><a id="nav_sign" class="register nav-button typeform-share hide-mobile unhide-nav" href="javascript:void(0)" data-mode="2">sign up today</a></li> --}}
        {{!-- <li class="hide-mobile unhide-nav">
        <a id="prizes-link" href="#prizes" class="scroll nav-button">prizes</a>
      </li>

      <li class="hide-mobile unhide-nav">
      <a id="judges-link" href="#judges" class="scroll nav-button">judges</a>
    </li>

    <li class="hide-mobile unhide-nav">
    <a id="sponsors-link" href="#sponsors" class="scroll nav-button">
    sponsors
  </a>
</li>--}}
{{!-- <li class="hide-mobile unhide-nav">
<a id="schedule-link" href="#schedule" class="scroll nav-button">
schedule
</a>
</li> --}}
<li class="hide-mobile unhide-nav">
  <a id="code-link" target="_blank" href="/static/DevFest2016CodeofConduct.pdf" class="nav-button">
    Conduct
  </a>
</li>

<li class="hide-mobile unhide-nav">
  <a id="faqs-link" href="#faqs" class="scroll nav-button">
    FAQs
  </a>
</li>

<li class="hide-mobile unhide-nav">
  <a id="sponsors-link" href="#sponsors" class="scroll nav-button">
    Sponsors
  </a>
</li>

<li class="hide-mobile unhide-nav">
  <a id="prizes-link" href="#prizes" class="scroll nav-button">
    Prizes
  </a>
</li>

<li class="hide-mobile unhide-nav">
  <a id="tracks-link" href="#tracks" class="scroll nav-button">
    Tracks
  </a>
</li>

<li class="hide-mobile unhide-nav">
  <a id="schedule-link" href="#schedule" class="scroll nav-button">
    Schedule
  </a>
</li>

<li class="hide-mobile unhide-nav">
  <a id="reg-link" href="https://adicu.typeform.com/to/i3TyKY" class="nav-button register-nav typeform-share" data-mode="1" target="_blank">
    Register Now
  </a>
  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
</li>
</ol>
</div>
</div>

<div class="content">
  <h1 class="page-head">Schedule</h1>

  <div class="day">
    <h2 id="saturday"><a href="#saturday">Saturday, January 30</a></h2>
    <!-- {{#each day-1}}
    <h3 class="event-title">{{this.title}}<span class="event-time">{{this.time}}</span></h3>
    <p class="event-description">{{this.description}}</p>
    {{/each}} -->
    <h3 class="event-title">Kickoff<span class="event-time">11:30am - 2:30pm at Davis Auditorium (CEPSR)</span></h3>
    <p class="event-description">Join us as we kick the week off with free food, a talk from our keynote speaker, and more information about the week's events!</p>

    <h3 class="event-title">Workshops<span class="event-time">2:30pm - 6pm at Mudd 627, 633, 644</span></h3>
    <p class="event-description">Start your learning off with a bang&colon; we'll have workshops geared towards beginners alongside workshops for seasoned hackers.</p>
  </div>

  <div class="day">
    <h2 id="monday"><a href="#monday">Monday, February 1 &ndash; Thursday, February 4</a></h2>
    <!-- {{#each day-1}}
    <h3 class="event-title">{{this.title}}<span class="event-time">{{this.time}}</span></h3>
    <p class="event-description">{{this.description}}</p>
    {{/each}} -->
    <h3 class="event-title">Dinner<span class="event-time">7pm at CS Lounge (Mudd)</span></h3>
    <p class="event-description">Enjoy dinner with the DevFest community and meet engineers and recruiters from our sponsors.</p>
    <!-- include logos? -->
    <h3 class="event-title">Tech talk<span class="event-time">8pm at Mudd Classrooms </span></h3>
    <p class="event-description">Come listen to lead engineers from our sponsors give talks on real-world topics, like streaming the Super Bowl to millions of users at once.</p>

    <h3 class="event-title">Workspace<span class="event-time">8pm - 11pm at Carleton Commons (Mudd)</span></h3>
    <p class="event-description">Work collaboratively on any of our six tracks, with the help of seasoned TAs and the students who created the material.</p>
  </div>

  <div class="day">
    <h2 id="friday"><a href="#friday">Friday, February 5</a></h2>
    {{#each day-6}}
    <h3 class="event-title">{{this.title}}<span class="event-time">{{this.time}} at {{this.location}} </span></h3>
    <p class="event-description">{{this.description}}</p>
    {{/each}}
  </div>

  <div class="day">
    <a href="#saturday"><h2 id="saturday">Saturday, February 6</h2></a>
    {{#each day-7}}
    <h3 class="event-title">{{this.title}}<span class="event-time">{{this.time}} at {{this.location}} </span></h3>
    <p class="event-description">{{this.description}}</p>
    {{/each}}
  </div>

</div>  <!-- content -->
</section>


<section id="tracks" class="page page-landing-1">

  <div class="content">
    <div class="grid-container">
      <div class="row">
        <div class="col-6">
          <h1 class="page-head"> Tracks </h1>
          <p class="page-info-text">Learn at your own pace, picking from the tracks that excite you.<br> Work on one track at a time, or bounce between them!</p>
          <p class="page-info-text">
          Pick up a <b>DevFest Passport</b> at any Workspace night and <b>earn stamps</b> for completing tracks. Each stamp gives you one entry into a <b>prize raffle</b>!</p>
        </div>
      </div>
    </div>

    <div class="grid-container">
      <div class="row">
        <div class="track-box col-2">
          <img class="track-image" height="40%" src="/img/Beginner-Logo.png">
          <h1> Beginner Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://adicu.com/jade"> JADE </a> </p>
          <p class="description">{{beginner}}</p>

        </div>
        <div class="track-box col-2">
          <img class="track-image" height="40%" src="/img/Data-Science-Logo.png">
          <h1> Data <br> Science </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://cdssatcu.com"> CDSS </a> </p>
          <p class="description">{{datascience}}</p>


        </div>
        <div class="track-box col-2">
          <img class="track-image" height="40%" src="/img/Game-Dev-Logo.png">
          <h1> Game Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://cugamedev.org"> CU Game Dev </a> </p>
          <p class="description">{{game}}</p>
        </div>
      </div>

      <div class="row">
        <div class="track-box col-2">
          <img class="track-image" height="40%" src="/img/Mobile-Dev-Logo.png">
          <h1> iOS Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://adicu.com/"> ADI </a> </p>
          <p class="description">{{mobile}}</p>
        </div>
        <div class="track-box col-2">
          <img class="track-image" height="40%" src="/img/Product-Logo.png">
          <h1> Product Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://coreatcu.com/"> CORE </a> </p>
          <p class="description">{{product}}</p>
        </div>
        <div class="track-box col-2">
          <img class="track-image" src="/img/Web-Dev-Logo.png">
          <h1> Web Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://adicu.com/"> ADI </a> </p>
          <p class="description">{{web}}</p>
        </div>
      </div>

    </div>
  </div>
</section>


<section style="height: auto" id="prizes" class="page page-landing-2">
  <div class="content">
    <div class="grid-container">
      <div class="row">
        <div class="col-6">
          <h1 class="page-head"> Prizes </h1>
        </div>
      </div>
    </div>
    <div class="grid-container prizes">
      {{#each mainPrizes}}
      <div class="spon-box col-2 spon-pic prize">
        <h1>{{this.name}}</h1>
        <h3>{{this.prize}}</h3>
      </div>
      {{/each}}
    </div>
    <div class="grid-container">
      <div class="row">
        {{#each sponsorPrizes}}
        <div class="spon-box col-3">
          <h3>{{this.name}}</h3>
          <h4>{{this.prize}}, presented by</h4>
          <img src="{{this.logo}}" alt="">
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<!-------------------------- SPONSORS ------------------------------>


<section style="height: auto" id="sponsors" class="page page-landing-3">


  <div class="content">
    <div class="grid-container">
      <div class="row">
        <div class="col-6">
          <h1 class="page-head"> Sponsors </h1>
        </div>
      </div>
    </div>

    <div class="grid-container">
      <div class="row sponsor-row" id="gold-level">
        <h2>Gold Level</h2>
        <div class="spon-box col-2 spon-pic">
          <img src="/img/sponsors/bloomberg.png" alt="Bloomberg" width="100%">

        </div>
        <div class="spon-box col-2 spon-pic">
          <img src="/img/sponsors/facebook.png" alt="Facebook" width="100%">

        </div>
        <div class="spon-box col-2 spon-pic">
          <img src="/img/sponsors/yahoo.png" alt="Yahoo" width="100%">

        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="row sponsor-row" id="silver-level">
        <h2>Silver Level</h2>
        <div class="spon-box col-3 spon-pic">
          <img src="/img/sponsors/AndreessenHorowitzlogo.png" alt="Andreessen Horowitz" width="53%">

        </div>
        <div class="spon-box col-3 spon-pic">
          <img src="/img/sponsors/microsoft.png" alt="Microsoft" width="53%">

        </div>
      </div>
      <div class="row sponsor-row" id="silver-level">
        <div class="spon-box col-3 spon-pic">
          <img src="/img/sponsors/columbiaentrepreneurship.png" alt="Columbia Entrepreneurship" width="53%">
        </div>
        <div class="spon-box col-3 spon-pic">
          <img src="/img/sponsors/mark43.png"
          alt="mark43" width="53%">
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="row sponsor-row" id="bronze-level">
        <h2>Bronze Level</h2>
        <div class="spon-box col-3">
          <div class="bronze-pic">
            <img src="/img/sponsors/etsylogo.png" alt="Etsy"  height="55px">
          </div>
        </div>
        <div class="spon-box col-3">
          <div class="bronze-pic">
            <img src="/img/sponsors/mongodb.png" alt="Mongo DB" height="55px">
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="row sponsor-row" id="partner-level">
        <h2>Partners</h2>
        <div class="spon-box col-6">
          <div class="partner-pic">
            <img src="/img/sponsors/soylent.png" alt="Soylent Columbia">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section style="height: auto" id="faqs" class="page page-landing-4">
  <div class="content">
    <div class="grid-container">
      <h1 class="page-head"> FAQs </h1>
      {{#each faqs}}
      <div class="question-box row">
        <div class="col-6 faq-block">
          <p class="question">{{this.question}}</p>
          <p class="answer">{{this.answer}}</p>
        </div>
      </div>
      {{/each}}
      <div class="col-6">
        <p class="page-info-text" id="faq-info-text">If you have other questions, please <a href="mailto:devfest@adicu.com?Subject=I%20have%20a%20question!">email us</a>.</p>
      </div>
    </div>
  </div>
</section>

{{!-- TODO: Dope footer register now, questions, link to facebook, hosted by adi --}}
<section style="height: auto;" id="footer" class="page page-landing-0">
  <div class="content">
    <div class="row">
      <div class="col-4">
        <a target="_blank" href="http://www.facebook.com/events/930126400357503/">
          <div class="col-5 info_button showcase-center">Facebook RSVP</div>
        </a>

        <a target="_blank" href="mailto:devfest@adicu.com?Subject=I%20have%20a%20question!">
          <div class="col-5 info_button showcase-center">Ask Questions</div>
        </a>

        {{!-- <a target="_blank" href="http://www.adicu.com">
        <div class="col-5 info_button showcase-center">More ADI</div>
      </a> --}}
    </div>
    <a target="_blank" class="adi-logo" href="http://www.adicu.com">
      <div class="col-2 showcase-center">
        <img src="/img/adi-small-white.png">
      </div>
    </a>

  </div>
</div>

</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72271329-1', 'auto');
  ga('send', 'pageview');
  ga('require', 'linkid');

</script>

{{/content}}
{{/extend}}
