{{#extend "base"}}
{{#content "main" mode="prepend"}}

<section id="top" class="page page-landing">
  <div class="content">
    <div class="grid-container">
      <div class="row">
        <div class="land-row col-5">
          <h1 class="intro-land-1">
          7 days, 6 tracks, 1 hackathon.<br>
          Everything you won't learn in class.<br>
          DevFest 2016 at Columbia University.
          </h1>
          <div class="row intro-row">
            <a id="success" data-mode="1" target="_blank" href="https://adicu.typeform.com/to/i3TyKY" style="" class="scroll typeform-share">
              <div class="register_button col-3 showcase-center">
                {{!-- <a id="signup" onclick="showEmail()" href="javascript:void(0)" class="button signup">SignUp</a></div>
                <br>
                <input style="display: none" name="EMAIL" type="email" id="mce-EMAIL" class="input" placeholder="Your Email Here">
                <a id="submit" style="display: none;" onclick="submitEmail()" href="javascript:void(0)" class="button submit">Submit</a> --}}
                Register Now <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

              </div>
              </a>

            </div>
            <div class="row"><p class="date">Take off January 30th - February 6th, 2016</p></div>



            <div class="more row">
              <div class="col-6 next_page">
                <a class="scroll more" href="#tracks">
                  <p class="showcase-center">Learn More</p><br>
                  <p  class="showcase-center"><i class="fa fa-angle-down fa-2x"></i></p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


    <img id="globe" class="half-globe hide-mobile" src="/img/bw-globe.svg">
    <img style="display: none" id="airplane" class="plane hide-mobile" src="/img/plane.png">
  </section>

<section id="tracks" class="page page-landing-1">
   <div class="nav">
      <div class="nav-options">
        <ol class="nav-list">
          <ol style="float:left;list-style-type:none;" class="left-nav">
            <li><a id="main" class="register nav-logo" href="javascript:void(0)" data-mode="2">
              <img class="logo" src="/img/devfest-logo.png">
            </a></li>
          </ol>
          <li class="mobile-only" id="menu"><a onclick="showNav()" class="register nav-button"><i class="fa fa-bars"></i></a></li>
          <li class="hide-mobile unhide-nav mobile-only"><a onclick="hideNav()" id="exit" class="register nav-button"><i class="fa fa-times"></i></a></li>
          {{!-- <li class="hide-mobile unhide-nav"><a id="nav_sign" class="register nav-button typeform-share hide-mobile unhide-nav" href="javascript:void(0)" data-mode="2">sign up today</a></li> --}}
          {{!-- <li class="hide-mobile unhide-nav">
            <a id="prizes-link" href="#prizes" class="scroll nav-button">prizes</a>
          </li>

          <li class="hide-mobile unhide-nav">
            <a id="judges-link" href="#judges" class="scroll nav-button">judges</a>
          </li>

          <li class="hide-mobile unhide-nav">
            <a id="sponsors-link" href="#sponsors" class="scroll nav-button">
              sponsors
            </a>
          </li>--}}
          {{!-- <li class="hide-mobile unhide-nav">
            <a id="schedule-link" href="#schedule" class="scroll nav-button">
              schedule
            </a>
          </li> --}}
          <li class="hide-mobile unhide-nav">
            <a id="code-link" target="_blank" href="/static/DevFest2016CodeofConduct.pdf" class="nav-button">
              Code of Conduct
            </a>
          </li>


          <li class="hide-mobile unhide-nav">
            <a id="faqs-link" href="#faqs" class="scroll nav-button">
              FAQs
            </a>
          </li>

          <li class="hide-mobile unhide-nav">
            <a id="tracks-link" href="#tracks" class="scroll nav-button">
              Tracks
            </a>
          </li>

          <li class="hide-mobile unhide-nav">
            <a class="nav-button">
              Coming soon...
            </a>
          </li>

          <li class="hide-mobile unhide-nav">
            <a id="reg-link" href="https://adicu.typeform.com/to/i3TyKY" class="nav-button register-nav typeform-share" data-mode="1" target="_blank">
              Register Now
            </a>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
          </li>
        </ol>
      </div>
    </div>


  <div class="content">
    <div class="grid-container">
      <div class="row">
        <div class="col-6">
          <h1 class="page-head"> Tracks </h1>
          <p class="page-info-text">Learn at your own pace, picking from the tracks that excite you.<br> Work on one track at a time, or bounce between them! </p>
        </div>
        </div>
      </div>


      <div class="grid-container">
      <div class="row">
        <div class="track-box col-2">
          <h1> Beginner Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://adicu.com/jade"> JADE </a> </p>

        </div>
        <div class="track-box col-2">
          <h1> Data <br> Science </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://adicu.com/jade"> CDSS </a> </p>


        </div>
        <div class="track-box col-2">
          <h1> Game Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://coreatcu.com/"> CU Game Dev </a> </p>

        </div>
      </div>

      <div class="row">
        <div class="track-box col-2">
          <h1> Mobile Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://adicu.com/"> ADI </a> </p>

        </div>
        <div class="track-box col-2">
          <h1> Product Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://coreatcu.com/"> CORE </a> </p>

        </div>
        <div class="track-box col-2">
          <h1> Web Development </h1>
          <p> Presented by <a target="_blank" class="track-link" href="http://adicu.com/"> ADI </a> </p>

        </div>
      </div>

      </div>
    </div>


  </section>

    <section style="height: auto" id="faqs" class="page page-landing-4">

      <div class="content">
        <div class="grid-container">
          <div class="row">
            <div class="col-6">
              <h1 class="page-head"> FAQs </h1>
              <p class="page-info-text">If you have other questions, please <a href="mailto:devfest@adicu.com?Subject=I%20have%20a%20question!">email us</a>.</p>

            </div>
          </div>
          {{#each faqs}}
          <div class="question-box row">
            <div class="col-6 faq-block">
              <p class="question">{{this.question}}</p>
              <p class="answer">{{this.answer}}</p>
            </div>
          </div>
          {{/each}}

        </div>
        <div class="row">
          <a target="_blank" href="http://www.facebook.com/events/930126400357503/"><div class="col-2 info_button showcase-center">Facebook RSVP</div></a>
          <a target="_blank" href="http://www.adicu.com"><div class="col-2 info_button showcase-center">More ADI</div></a>
        </div>

      </div>
    </section>



{{!--
    <section id="schedule" class="page-2 page-landing-1">
      <div class="content">
        <div class="grid-container">
        <div class="row">
        <a href="javascript:void(0)" onclick="schedule('#day-1')"> <div class="col-1 feat-nav showcase-center">Saturday Jan 30</div></a>
        <div class="col-1 feat-nav showcase-center">Monday Feb 1</div>
        <div class="col-1 feat-nav showcase-center">Tuesday Feb 2</div>
        <div class="col-1 feat-nav showcase-center">Wednesday Feb 3</div>
        <div class="col-1 feat-nav showcase-center">Thursday Feb 4</div>
        <a href="javascript:void(0)" onclick="schedule('#day-6')"><div class="col-1 feat-nav showcase-center">Friday Feb 5</div></a>
        <div class="col-1 feat-nav showcase-center">Saturday Feb 6</div>
        </div>

          <div id="day-1" class="row">
            <div class="showcase feat col-2">
              <h1>Saturday</h1><br>Jan 30
            </div>
            <div  class="showcase-schedule col-4">
              {{#each day-1}}
              <div class="col-3">

              <h1>{{this.title}}</h1>
              <h2>{{this.time}} | {{this.location}} </h2>
              <p class="schedule-desc">
                {{this.description}}
              </p>
              </div>
              {{/each}}
            </div>
          </div> <!-- row -->

          <div id="day-7" class="row hideme">
            <div class="showcase feat col-2">
              <h1>Friday</h1><br>Feb 5
            </div>
            <div class="showcase-schedule col-4">
              {{#each day-6}}
              <h1>{{this.title}}</h1>
              <h2>{{this.time}} | {{this.location}} </h2>
              <p class="schedule-desc">
                {{this.description}}
              </p>
              {{/each}}
            </div>
          </div> <!-- row -->


      </div> <!-- container -->
    </div>  <!-- content -->
  </section> --}}

{{!-- <div id="sponsors" class="page page-landing-2">
  <div class="content">
    <div class="grid-container"> hi test </div>
  </div>
</div>

<div id="judges" class="page page-landing-3">
  <div class="content">
    <div class="grid-container"> judges test </div>
  </div>
</div>


<div id="prizes" class="page page-landing-4">
  <div class="content">
    <div class="grid-container">  hi test </div>
  </div>
</div> --}}

{{/content}}
{{/extend}}

{{!-- <div class="border-left"></div>
<div class="border-right"></div>
<div class="border-right-2 hide-mobile"></div>
<div class="border-u"></div> --}}
