{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div id="landing" class="page page-landing background-image">
<div class="transparent">
<div class="header">
  <h1 class="landing">DevFest 2016</h1>
</div>
{{!-- popup --}}
  <div style="display: none" class="popup-content">
    <i style="float: right; padding: .5em; color: white" onclick="hidePopup()" class="fa fa-times fa-2x"></i>
    <iframe id="playerid" width="100%" height="100%" src="https://www.youtube.com/embed/CVeK0cK0B_I?rel=0&amp;controls=0&amp;showinfo=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>

<div class="content">
<div id="top" class="page content-landing">
<div class="grid-container">
        <div id="welcome-intro" class="row">
            <div class="col-4"><p>
              <div class="welcome-text">
                <h1>Registration<br>Coming Soon </h1>
                {{#each page-list}} {{this}} {{/each}}
                <br><br>

                {{!-- Sign Up Form --}}
                <form action="//devfe.us12.list-manage.com/subscribe/post?u=4728f3ea171ba6ddb55862e63&amp;id=205c98523d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>

                <a href="javascript:void(0)" class="button moreinfo" id="moreinfo" >More Info</a>
                <a href="javascript:void(0)">
                <form action="//devfe.us12.list-manage.com/subscribe/post?u=4728f3ea171ba6ddb55862e63&amp;id=205c98523d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <input style="display: none" name="EMAIL" type="email" id="mce-EMAIL" class="input" placeholder="Your Email Here"></input>
                </a>
                <a id="signup" onclick="showEmail()" href="javascript:void(0)" class="button signup">SignUp</a>
                <a id="submit" style="display: none;" onclick="submitEmail()" href="javascript:void(0)" class="button submit">Submit</a></form>
                <a style="display:none;" href="javascript:void(0)" id="success" class="success">Success!</a></p>
              </div>
            </div>


            <div class="col-2">
              <p><div class="hype">
              <a href="javascript:void(0)" onclick="showPopup()" class="hide-mobile hype-text button" id="moreinfo">Watch DevFest 2015 Recap</a>
              </p>
            </div>
        </div>
</div>
</div>

</div>


</div>

</div>
{{#each pages }}
{{#if @first}}

<div class="page page-landing-{{@index}}">
<div id="info" class="nav">
      <div class="nav-options">
        <ul class="nav-list">
          <ul style="float:left;list-style-type:none;" class="left-nav">
            <li><a id="main" class="register nav-logo" href="javascript:void(0)" data-mode="2">
              <img class="logo" src="/img/devfest-logo.png">
            </a></li>
          </ul>
          <li class="mobile-only" id="menu"><a onclick="showNav()" class="register nav-button"><i class="fa fa-bars"></i></a></li>
          <li class="hide-mobile unhide-nav mobile-only"><a onclick="hideNav()" id="exit" class="register nav-button"><i class="fa fa-times"></i></a></li>
          <li class="hide-mobile unhide-nav"><a id="nav_sign" class="register nav-button typeform-share hide-mobile unhide-nav" href="javascript:void(0)" data-mode="2">sign up today</a></li>

          <li class="hide-mobile unhide-nav">
            <a id="info-link" onclick="scrollTo(info)" href="javascript:void(0)" class="nav-button">
              info
            </a>
          </li>
          <li class="hide-mobile unhide-nav">
            <a id="schedule-link" onclick="scrollTo(schedule)" href="javascript:void(0)" class="nav-button">
              schedule
            </a>
          </li>
          <li class="hide-mobile unhide-nav">
            <a id="sponsors-link" onclick="scrollTo(sponsors)" href="javascript:void(0)" class="nav-button">
              sponsors
            </a>
          </li>
          <li class="hide-mobile unhide-nav">
            <a id="judges-link" onclick="scrollTo(judges)" href="javascript:void(0)" class="nav-button">
              judges
            </a>
          </li>
          <li class="hide-mobile unhide-nav">
            <a id="prizes-link" onclick="scrollTo(prizes)" href="javascript:void(0)" class="nav-button">
              prizes
            </a>
          </li>
          </ul>
      </div>
    </div>
</div>

{{else}}
<div id="{{this.name}}" class="page page-landing-{{@index}}"></div>
{{/if}}

{{!-- <div class="page">
<div id="info" class="nav">
      <div class="nav-options">
        <ul class="nav-list">
          <ul style="float:left;list-style-type:none;" class="left-nav">
            <li><a id="main" class="register nav-logo" href="javascript:void(0)" data-mode="2">
              <img class="logo" src="/img/devfest-logo.png">
            </a></li>
          </ul>
          <li class="mobile-only" id="menu"><a onclick="showNav()" class="register nav-button"><i class="fa fa-bars"></i></a></li>
          <li class="hide-mobile unhide-nav mobile-only"><a onclick="hideNav()" id="exit" class="register nav-button"><i class="fa fa-times"></i></a></li>
          <li class="hide-mobile unhide-nav"><a onclick="showEmail()" id="nav_sign" class="register nav-button typeform-share hide-mobile unhide-nav" href="javascript:void(0)" data-mode="2">sign up today</a></li>
          {{#each this}}
          <li class="hide-mobile unhide-nav"><a id="schedule-link" href="javascript:void(0)" class="register nav-button">{{this.name}}</a></li>
          {{/each}}

          </ul>
      </div>
    </div>
</div>
</div> --}}
{{/each}}

{{/content}}
{{/extend}}

{{!-- <div class="border-left"></div>
<div class="border-right"></div>
<div class="border-right-2 hide-mobile"></div>
<div class="border-u"></div> --}}
